.cuaderno-container {
    margin: 20px 10px;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.7);

}

.cuaderno-img-container {
    position: relative;
    height: 70%;
    width: 100%;
    background-position: top;
    background-size: cover;
    border-radius: 20px;
}

.cuaderno-color-container {
    position: absolute;
    display: flex;
    opacity: 0;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 30%;
    right: 10px;
    gap: 7px;
    transition: opacity 0.3s linear;
}

.cuaderno-color-container > .cuaderno-color {
    height: 80%;
    width: 20px;
    flex: 1 1 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}
.cuaderno-color-container > .cuaderno-color:hover {
    cursor: pointer;
    transition: all 0.2s linear;
}

.cuaderno-color-container > .active {
    transform: scaleY(1.1);
}

.cuaderno-detalles {
    width: 90%;
    margin: 20px;
}

.cuaderno-detalles .precio-container {
    width: 100%;
    text-align: right;
}

